.topan-button-ordinary{
    --topan-button-size: 36px;
}

.topan-button-emphasize,.topan-button-commonly{
    border: none;
    overflow: hidden; /* 修剪图标 */
    cursor: pointer;

    transition-duration: 0.3s;
    transition-property: all;
}
.topan-button-emphasize{
    background-color: var(--topan-color-emphasize);
}
.topan-button-emphasize:hover{
    background-color: rgba(255,255,255,0.2);
}
.topan-button-commonly{
    background-color: transparent;
}
.topan-button-commonly:hover{
    background-color: rgba(0,0,0,0.1);
}

.topan-button-header-round-left,.topan-button-header-round-right{
    width: var(--topan-button-size);
    height: var(--topan-button-size);
    position: relative;
    display: inline-block;
    border-radius: 50%;
    padding: 0;
    font-size: calc(var(--topan-button-size) * 1 / 2);
    line-height: normal;
}
@media screen and (max-width: 1300px){
    .topan-button-header-round-left{
        bottom: 16px;
    }
}
.topan-button-header-block,.topan-button-header-block-showed{
    height: 50px;
    position: sticky;
    box-sizing: border-box;
    display: inline-block;
    padding: 12px 16px 6px;
    font-size: calc(var(--topan-button-size) / 2);
    line-height: calc(var(--topan-button-size) * 2 / 3);
    transition-duration: 0.15s;
}
.topan-button-header-block:hover{
    border-bottom: solid 3px var(--topan-colors-main);
}
.topan-button-header-block-showed{
    border-bottom: solid 3px var(--topan-colors-stress);
}
