input[type="text"],
    input[type="password"],input[type="url"],
    input[type="tel"],input[type="search"],
    input[type="number"],input[type="email"],
    input[type="range"]{
    border-radius: 10px;
    border: 1px solid grey;
    padding: 8px 10px;
    width: 100%;
    transition-duration: 0.28s;
    box-sizing: border-box;
    outline: none;
}
select{
    border-radius: 10px;
    border: 1px solid grey;
    padding: 8px 10px;
    transition-duration: 0.28s;
    box-sizing: border-box;
}
input[type="text"]:hover,
    input[type="password"]:hover,input[type="url"]:hover,
    input[type="tel"]:hover,input[type="search"]:hover,
    input[type="number"]:hover,input[type="email"]:hover,
    input[type="range"]:hover{
    border: 1px solid var(--topan-colors-main);
}
select:hover{
    border: 1px solid var(--topan-colors-main);
}
input[type="text"]:focus,
    input[type="password"]:focus,input[type="url"]:focus,
    input[type="tel"]:focus,input[type="search"]:focus,
    input[type="number"]:focus,input[type="email"]:focus,
    input[type="range"]:focus{
    box-shadow: 0 0 0 3px var(--topan-colors-stress-modify1);
    border: 1px solid var(--topan-colors-stress);
}
select:focus{
    box-shadow: 0 0 0 3px var(--topan-colors-stress-modify1);
    border: 1px solid var(--topan-colors-stress);
}