input:not(input[type]),input[type="text"],input[type="password"],input[type="url"],input[type="tel"],input[type="search"],input[type="number"],input[type="email"],input[type="range"]{
    border-radius: 10px;
    border: 1px solid grey;
    padding: 8px 10px;
    width: 100%;
    transition-duration: 0.28s;
    box-sizing: border-box;
}
input:not(input[type]),input[type="text"],input[type="password"],input[type="url"],input[type="tel"],input[type="search"],input[type="number"],input[type="email"],input[type="range"]:hover{
    border: 1px solid var(--topan-colors-main);
}
input:not(input[type]),input[type="text"],input[type="password"],input[type="url"],input[type="tel"],input[type="search"],input[type="number"],input[type="email"],input[type="range"]:focus{
    box-shadow: 0 0 0 3px var(--topan-colors-stress-modify1);
    border: 1px solid var(--topan-colors-stress);
}