img.markdown{
    max-width: 100%;
}
p.markdown{
	font-size: var(--markdown-font-size);
}
span.markdown{
	font-size: var(--markdown-font-size);
}

.markdown-code-copybutton{
	float: right;
	padding: 5px 8px;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	border-top: hidden;
	border-bottom: 1px solid var(--markdown-codeblock-bordercolor);
	border-left: 1px solid var(--markdown-codeblock-bordercolor);
	border-right: hidden;
	cursor: pointer;
	background-color: white;
	color: var(--markdown-codeblock-bordercolor);
	font-size: calc(var(--markdown-font-size) * 0.8);

    transition-duration: 0.3s;
    transition-property: all;
}
.markdown-code-copybutton:after{
	content: var(--markdown-codeblock-copybutton);
}
.markdown-code-copybutton:hover{
	background-color: var(--markdown-codeblock-bordercolor);
	color: white;
}
.markdown-code-divinside{
	padding: 1px;
	overflow-x: scroll;
}
.markdown-code-divoutside{
	border-radius: 10px;
	border: 1px solid var(--markdown-codeblock-bordercolor);
    background-color: #f0f0f0;
}
.markdown-code-pre{
	margin-left: 15px;
	line-height: 150%;
	font-family: "font-codetext";
}

p.markdown-content-large{
	font-size: 14px;
	line-height: 16px;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
p.markdown-content-small{
	font-size: 12px;
	line-height: 16px;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}