.topan-section,.topan-section-shadow{
    box-shadow: 0 2px 8px -1px rgba(0,0,0,0.2);
    padding: 7px 16px;
    background: white;
    border-radius: 12px;
    transition-duration: 0.3s;
}
.topan-section-shadow:hover{
    box-shadow: 0 2px 13px -1px rgba(0,0,0,0.2);
}