table{
    border-collapse: collapse;
    text-align: center;
}
.topan-table-center{
    margin: 0 auto;
}
table td,table th{
    border: 1px solid var(--topan-colors-main);
    word-break: break-word;
    padding: 1px 8px 1px 8px !important;
}
table th{
    border-right-color: white;
    background-color: var(--topan-colors-main);
    color: white;
}
table th:last-child{
    border: 1px solid var(--topan-colors-main);
}
table tr:nth-child(odd){
    background: var(--topan-colors-main-modify1);
}
table tr:nth-child(even){
    background: white;
}